<div class="contact-section">
  <div class="page-padding-2">
    <div class="container-contact">
      <div class="text-align-center">
        <div class="max-width-large align-center">
          <h2 class="contact-h1">{{ section.settings.title }}</h2>
          <p class="text-size-medium-2">{{ section.settings.description }}</p>
        </div>
      </div>
      <div class="contact2_component w-form">
        {% form 'contact', class: 'contact2_form' %}
          <div class="form-field-2col">
            <div class="form-field-wrapper">
              <label for="Contact-2-First-Name-2" class="field-label">First name</label><input
                type="text"
                class="form-input-2 w-input"
                maxlength="256"
                name="contact[first_name]"
                id="first-name"
                placeholder=""
                required=""></div>
            <div class="form-field-wrapper">
              <label for="Contact-2-Last-Name" class="field-label">Last name</label><input
                type="text"
                class="form-input-2 w-input"
                maxlength="256"
                name="contact[last_name]"
                id="last-name"
                placeholder=""
                required=""></div>
          </div>
          <div class="form-field-2col is-mobile-1col">
            <div class="form-field-wrapper">
              <label for="Contact-2-Email-2" class="field-label">Email</label><input
                type="email"
                class="form-input-2 w-input"
                maxlength="256"
                name="contact[email]"
                id="email"
                placeholder=""
                required=""></div>
            <div class="form-field-wrapper">
              <label for="Contact-2-Phone" class="field-label">Phone number</label><input
                type="tel"
                class="form-input-2 w-input"
                maxlength="256"
                name="contact[phone]"
                id="phone"
                placeholder=""
                required=""></div>
          </div>
          <div class="form-field-wrapper">
            <label for="Contact-2-Select" class="field-label">Choose a topic</label>
            <select
              id="Contact-2-Select"
              name="Contact-2-Select"
              data-name="Contact 2 Select"
              required=""
              class="form-input-2 is-select-input w-select">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'options' %}
                  <option class="contact-option" value="Third">{{ block.settings.option }}</option>
                {% endcase %}
              {% endfor %}
            </select>
          </div>
          <div class="form-field-wrapper">
            <label for="Contact-2-Message" class="field-label">Message</label>
            <textarea
              placeholder="Type your message..."
              maxlength="5000"
              name="contact[body]"
              id="message"
              required=""
              class="form-input-2 is-text-area w-input"></textarea>
          </div><input
            type="submit"
            value="Send message"
            data-wait="Please wait..."
            id="w-node-_8fc6237c-8712-2212-a04d-7cfd05ba821b-d37ac598"
            class="button-2 w-button">
        {% endform %}
      </div>
    </div>
  </div>
</div>

<div class="waves reverse position-inherit"><img
    src="{{ 'reversed-wave.svg' | asset_url }}"
    loading="lazy"
    alt=""
    class="desktop-img"><img
    src="{{ 'tweede-mob-wave.svg' | asset_url }}"
    loading="lazy"
    alt=""
    class="mobile-img"></div>


{% schema %}
  {
    "name": "Contact",
    "tag": "section",
    "class": "contact",
    "limit": 1,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      }, {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      }
    ],
    "blocks": [
      {
        "name": "Options",
        "type": "options",
        "settings": [
          {
            "type": "text",
            "id": "option",
            "label": "Options"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Contact",
        "settings": {
          "title": "Contact"
        }
      }
    ]
  }
{% endschema %}