<div class="page-padding">
  <div class="mobile-hero_wrapper">
  <div id="hero-mobile_swiper" class="swiper">
    <div class="left-side_blur"></div>
    <div class="right-side_blur"></div>
    <div class="swiper-wrapper hero-swiper_wrapper">
      {%- for block in section.blocks -%}
        {%- if block.type == "mobile-slide" -%}
          <div class="swiper-slide mobile-hero_slide"><img
              src="{{ block.settings.mobile-slide-image | img_url: 'master' }}"
              loading="lazy"
              sizes="(max-width: 479px) 44vw, (max-width: 991px) 20vw, 100vw"
              srcset="{{ block.settings.mobile-slide-image | img_url: 'master' }} 500w, {{ block.settings.mobile-slide-image | img_url: 'master' }} 612w"
              alt=""
              class="mobile-hero-slide_img">
            <div class="ugc-emoji-mobile">{{ block.settings.mobile-slide-emoji }}</div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</div>
  <div class="container_v1">
    <div class="hero-inner-container">
      <div class="left-side-header">
        <div class="header-content-container">
          <h1 class="h1-hero">{{ section.settings.heading | newline_to_br }}</h1>
          <div class="hero-p">{{ section.settings.description | newline_to_br }}</div>
          <a href="{{ section.settings.button_link }}" class="primary-button w-button">{{ section.settings.button_link_text }}</a>
        </div>
      </div>
      <div class="right-side-header">
        <div data-w-id="b1ab2243-2996-2a5a-f264-78d2a5d92da2" class="ugc-hero-slider-desktop">
          <div class="ugc-images-left">
            {%- for block in section.blocks -%}
              {%- if block.type == "left_image_slide" -%}
                <div
                  id="w-node-b1ab2243-2996-2a5a-f264-78d2a5d92da4-a5d92d61"
                  class="image-list-item"
                  block.shopify_attributes>
                  <div id="w-node-b1ab2243-2996-2a5a-f264-78d2a5d92da5-a5d92d61" class="hero-slide-wrapper"><img
                      src="{{ block.settings.left-slide_image | img_url: 'master' }}"
                      loading="lazy"
                      id="w-node-b1ab2243-2996-2a5a-f264-78d2a5d92da6-a5d92d61"
                      sizes="(max-width: 991px) 100vw, 21vw"
                      srcset="{{ block.settings.left-slide_image | img_url: 'master' }} 500w, {{ block.settings.left-slide_image | img_url: 'master' }} 612w"
                      alt=""
                      class="hero-slide-img">
                    <div class="emoji-content">{{ block.settings.left-slide_emoji }}</div>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
          <div class="ugc-images-right">
            {%- for block in section.blocks -%}
              {%- if block.type == "right_image_slide" -%}
                <div
                  id="w-node-b1ab2243-2996-2a5a-f264-78d2a5d92daa-a5d92d61"
                  class="image-list-item"
                  block.shopify_attributes>
                  <div id="w-node-b1ab2243-2996-2a5a-f264-78d2a5d92dab-a5d92d61" class="hero-slide-wrapper"><img
                      src="{{ block.settings.right-slide_image | img_url: 'master' }}"
                      loading="lazy"
                      id="w-node-b1ab2243-2996-2a5a-f264-78d2a5d92dac-a5d92d61"
                      sizes="(max-width: 991px) 100vw, 21vw"
                      srcset="{{ block.settings.right-slide_image | img_url: 'master' }} 500w, {{ block.settings.right-slide_image | img_url: 'master' }} 612w"
                      alt=""
                      class="hero-slide-img">
                    <div class="emoji-content">{{ block.settings.right-slide_emoji }}</div>
                  </div>
                </div>
              {%- endif -%}
            {%- endfor -%}
          </div>
          <div id="w-node-b1ab2243-2996-2a5a-f264-78d2a5d92daf-a5d92d61" class="hero-fog-bottom"></div>
          <div id="w-node-b1ab2243-2996-2a5a-f264-78d2a5d92db0-a5d92d61" class="hero-fog-top"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clouds-wrapper"><img
    src="{{ 'top.svg' | asset_url }}"
    loading="eager"
    alt=""
    class="top-vector"><img
    src="{{ 'mid.svg' | asset_url }}"
    loading="eager"
    alt=""
    class="mid-vector"><img
    src="{{ 'bottom.svg' | asset_url }}"
    loading="eager"
    alt=""
    class="bottom-vector">
  <div class="trustpilot-bar">
    <div class="review-testblock">{{ section.settings.reviews }}</div><img
      src="{{ section.settings.trustpilot-svg }}"
      loading="lazy"
      height=""
      alt=""
      class="trustpilot-img">
  </div>
</div>


<script>
  var currentSection = document.currentScript.closest('.shopify-section');
  currentSection.setAttribute("data-w-id", "b1ab2243-2996-2a5a-f264-78d2a5d92d61");
  currentSection.setAttribute("class", "hero-section");
</script>

{% schema %}
  {
    "presets": [
      {
        "name": "Hero"
      }
    ],
    "name": "Hero",
    "tag": "header",
    "class": "hero-section",
    "settings": [
      {
        "type": "text",
        "id": "button_label",
        "label": "Button Label",
        "default": "Shop the Meddybear"
      },
      {
        "type": "textarea",
        "id": "heading",
        "label": "Heading",
        "default": "A Fun and Effective Way to Help Your Child Relax and De-stress"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description",
        "default": "The meditation bear helps children learn how to relax and manage stress in a fun and interactive way."
      },
      {
        "type": "url",
        "id": "button_link",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "button_link_text",
        "label": "Button Link Text",
        "default": "{{ section.settings.button_label }}"
      }, {
        "type": "richtext",
        "id": "reviews",
        "label": "Amount of Reviews"
      }, {
        "type": "url",
        "id": "trustpilot-svg",
        "label": "Trust Pilot SVG"
      }
    ],
    "blocks": [
      {
        "name": "Left Image Slide",
        "type": "left_image_slide",
        "settings": [
          {
            "type": "text",
            "id": "left-slide_emoji",
            "label": "Slide Emoji",
            "default": "😴️"
          }, {
            "type": "image_picker",
            "id": "left-slide_image",
            "label": "Slide Image"

          }
        ]
      }, {
        "name": "Right Image Slide",
        "type": "right_image_slide",
        "settings": [
          {
            "type": "text",
            "id": "right-slide_emoji",
            "label": "Slide Emoji",
            "default": "😴️"
          }, {
            "type": "image_picker",
            "id": "right-slide_image",
            "label": "Slide Image"

          }
        ]
      }, {
        "name": "Mobile Image Slide",
        "type": "mobile-slide",
        "settings": [
          {
            "type": "text",
            "id": "mobile-slide-emoji",
            "label": "Slide Emoji",
            "default": "😴️"
          }, {
            "type": "image_picker",
            "id": "mobile-slide-image",
            "label": "Slide Image"

          }
        ]
      }
    ]
  }
{% endschema %}