{% schema %}
  {
    "name": "Product",
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "review",
        "name": "Review",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "amount-review",
            "label": "Amount of Reviews"
          }
        ]
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "shipping",
        "name": "Shipping",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "shipping-tagline",
            "label": "Shipping Tagline"
          }
        ]
      }, {
        "type": "checkout_buttons",
        "name": "Checkout Buttons",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "atc-text",
            "label": "ATC Text"
          }
        ]
      }, {
        "type": "payment_icons",
        "name": "Payment Icons",
        "limit": 1
      }, {
        "type": "bullet_points",
        "name": "Bullet Points",
        "settings": [
          {
            "type": "text",
            "id": "bullet-tagline",
            "label": "Bullet Tagline"
          }
        ]
      }, {
        "type": "top_accordion",
        "name": "Top Accordion",
        "settings": [
          {
            "type": "text",
            "id": "top-title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "top-info",
            "label": "Info"
          }
        ]
      }, {
        "type": "upsell-block",
        "name": "Upsell",
        "settings": [
          {
            "type": "product",
            "id": "upsell-product",
            "label": "Upsell Product"
          }, {
            "type": "image_picker",
            "id": "upsell-image",
            "label": "Upsell Image"
          }, {
            "type": "text",
            "id": "upsell-description",
            "label": "Upsell Description"
          }, {
            "type": "text",
            "id": "upsell-button",
            "label": "Upsell Button Label"
          }
        ]
      }, {
        "type": "mini_description",
        "name": "Mini Description",
        "settings": [
          {
            "type": "text",
            "id": "mini-title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "mini-description",
            "label": "Description"
          }
        ]
      }, {
        "type": "bottom_accordion",
        "name": "Bottom Accordion",
        "settings": [
          {
            "type": "text",
            "id": "bottom-title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "bottom-info",
            "label": "Info"
          }
        ]
      }, {
        "type": "media",
        "name": "Media",
        "limit": 1
      }
    ]
  }
{% endschema %}

{% assign selected_variant = product.selected_or_first_available_variant %}

{% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
  <input
    type="hidden"
    name="id"
    value="{{ selected_variant.id }}">
  <div data-w-id="00aef4e6-a58f-4aa4-48eb-8ea9c660102c" class="product-section">
    <div class="page-padding">
      <div class="container_v2">
        <div class="product-inner-container">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'media' %}
              <div class="product-section-left">
                <div class="product-desktop-imgs">
                  <div class="product-image"><img
                      src="{{ 'image_4.png' | asset_url }}"
                      loading="lazy"
                      sizes="(max-width: 991px) 100vw, 47vw"
                      srcset="{{ 'image_4-p-500.png' | asset_url }} 500w, {{ 'image_4-p-800.png' | asset_url }} 800w, {{ 'image_4.png' | asset_url }} 917w"
                      alt=""
                      class="product-img"></div>
                  <div class="product-informative-box">
                    <div class="informative-contents">
                      <div class="informative-product-title">{{ 't4d33cbea' | t }}</div>
                      <p>{{ 'tn8e41384' | t }}</p>
                    </div>
                  </div>
                  <div class="product-images-row">
                    <div class="product-row-img"><img
                        src="{{ 'image_4.png' | asset_url }}"
                        loading="lazy"
                        sizes="(max-width: 991px) 100vw, 23vw"
                        srcset="{{ 'image_4-p-500.png' | asset_url }} 500w, {{ 'image_4-p-800.png' | asset_url }} 800w, {{ 'image_4.png' | asset_url }} 917w"
                        alt=""
                        class="product-img"></div>
                    <div class="product-row-img"><img
                        src="{{ 'image_4.png' | asset_url }}"
                        loading="lazy"
                        sizes="(max-width: 991px) 100vw, 23vw"
                        srcset="{{ 'image_4-p-500.png' | asset_url }} 500w, {{ 'image_4-p-800.png' | asset_url }} 800w, {{ 'image_4.png' | asset_url }} 917w"
                        alt=""
                        class="product-img"></div>
                  </div>
                  <div class="product-informative-box">
                    <div class="informative-contents">
                      <div class="informative-product-title">{{ 't5816e0ae' | t }}</div>
                      <p>{{ 'tn669bcd5f' | t }}</p>
                    </div>
                  </div>
                  <div class="product-image"><img
                      src="{{ 'image_4.png' | asset_url }}"
                      loading="lazy"
                      sizes="(max-width: 991px) 100vw, 47vw"
                      srcset="{{ 'image_4-p-500.png' | asset_url }} 500w, {{ 'image_4-p-800.png' | asset_url }} 800w, {{ 'image_4.png' | asset_url }} 917w"
                      alt=""
                      class="product-img"></div>
                </div>
                <div class="product-slider pdp-slider">
                  <div id="Product-Images-Slider" class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                    <div id="swiper-wrapper" class="swiper-wrapper">
                      <div class="swiper-slide"><img
                          src="{{ 'image_1.png' | asset_url }}"
                          loading="lazy"
                          sizes="(max-width: 479px) 30vw, (max-width: 991px) 31vw, 100vw"
                          srcset="{{ 'image_1-p-500.png' | asset_url }} 500w, {{ 'image_1-p-800.png' | asset_url }} 800w, {{ 'image_1-p-1080.png' | asset_url }} 1080w, {{ 'image_1.png' | asset_url }} 1222w"
                          alt=""
                          class="product-img-slide"></div>
                      <div class="swiper-slide"><img
                          src="{{ 'image_1.png' | asset_url }}"
                          loading="lazy"
                          sizes="(max-width: 479px) 30vw, (max-width: 991px) 31vw, 100vw"
                          srcset="{{ 'image_1-p-500.png' | asset_url }} 500w, {{ 'image_1-p-800.png' | asset_url }} 800w, {{ 'image_1-p-1080.png' | asset_url }} 1080w, {{ 'image_1.png' | asset_url }} 1222w"
                          alt=""
                          class="product-img-slide"></div>
                      <div class="swiper-slide"><img
                          src="{{ 'image_1.png' | asset_url }}"
                          loading="lazy"
                          sizes="(max-width: 479px) 30vw, (max-width: 991px) 31vw, 100vw"
                          srcset="{{ 'image_1-p-500.png' | asset_url }} 500w, {{ 'image_1-p-800.png' | asset_url }} 800w, {{ 'image_1-p-1080.png' | asset_url }} 1080w, {{ 'image_1.png' | asset_url }} 1222w"
                          alt=""
                          class="product-img-slide"></div>
                    </div>
                    <div class="product-swiper-nav">
                      <div id="product-left-arrow" class="product-swiper-arrow"><img
                          src="{{ 'ic20-arrow-right-1.svg' | asset_url }}"
                          loading="lazy"
                          alt=""
                          class="slider-arrow-icon"></div>
                      <div class="swiper-pagination-pdp swiper-pagination-bullets swiper-pagination-horizontal">
                        <div class="swiper-pagaintion-bullet"></div>
                      </div>
                      <div id="product-right-arrow" class="product-swiper-arrow"><img
                          src="{{ 'ic20-arrow-right.svg' | asset_url }}"
                          loading="lazy"
                          alt=""
                          class="slider-arrow-icon"></div>
                    </div>
                  </div>
                </div>
              </div>
            {% endcase %}
          {% endfor %}

          <div class="product-section-right">
            <div class="product-sec-info">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'title' %}
                  <h1 class="product-h1">{{ product.title }}</h1>
                  {% when 'review' %}
                  <div class="product-reviews"><img
                      src="{{ 'stars-pdp.svg' | asset_url }}"
                      loading="lazy"
                      height=""
                      alt=""
                      class="product-review-stars">
                    <div class="text-block-5">{{ block.settings.amount-review }} reviews</div>
                  </div>
                  {% when 'description' %}
                  <div>{{ product.description }}</div>
                {% endcase %}
              {% endfor %}
            </div>
            <div class="atc-area">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'price' %}
                  <div class="quick-atc-price-wrapper">
                    <div class="price-wrapper" id="price-{{ section.id }}">
                      <div class="before-price">{{ selected_variant.compare_at_price | money }}</div>
                      <div class="price-h1 dekstop">{{ selected_variant.price | money }}</div>
                    </div>
                    <div class="save-tag">{{ discount }}</div>
                  </div>
                  {% when 'shipping' %}
                  <div class="atc-shipping">
                    <div class="div-block-4"></div>
                    <div>{{ block.settings.shipping-tagline }}</div>
                  </div>
                  {% when 'checkout_buttons' %}
                  <div class="atc-zone">
                    <div class="form-block w-form">
                      {%- form "contact", class: "form" -%}<input
                          type="submit"
                          value="{{block.settings.atc-text}} - {{selected_variant.price | money}}"
                          data-wait="Adding to cart..."
                          class="primary-button atc w-button">
                        <div class="input-counter-component">
                          <div class="fs_inputcounter-1_embed w-embed w-script">
                            <!--  [Finsweet Attributes] Input Counter  -->
                            <script>
                              (() => {
                                var t = "https://cdn.jsdelivr.net/npm/@finsweet/attributes-inputcounter@1/inputcounter.js",
                                  e = document.querySelector(`script[src="${t}"]`);
                                e || (e = document.createElement("script"), e.async =! 0, e.src = t, document.head.append(e));
                              })();
                            </script>
                          </div>
                          <div class="fs_inputcounter-1_wrapper">
                            <div
                              aria-controls="fs-inputcounter-1-input"
                              fs-inputcounter-element="decrement"
                              role="button"
                              aria-label="Decrement input value"
                              tabindex="0"
                              class="fs_inputcounter-1_button">
                              <div>{{ 't2d' | t }}</div>
                            </div><input
                              type="number"
                              name="quantity"
                              id="quantity-{{ section.id }}"
                              value="1"
                              min="1">
                            <div
                              aria-controls="fs-inputcounter-1-input"
                              fs-inputcounter-element="increment"
                              role="button"
                              aria-label="Increment input value"
                              tabindex="0"
                              class="fs_inputcounter-1_button">
                              <div>{{ 't2b' | t }}</div>
                            </div>
                          </div>
                        </div>
                        {%- assign form_success = form.posted_successfully? -%}{%- assign form_errors = form.errors -%}{%- render "form-general-script", form_success: form_success, form_errors: form_errors -%}{%- endform -%}
                      <div class="w-form-done  {% if form_success %}form-posted-successfully{% endif %}">
                        <div>{{ 't5a0ea5a1' | t }}</div>
                      </div>
                      {%- unless form_success -%}
                        <div class="w-form-fail  {% if form.errors %}form-has-errors{% endif %}">
                          <div>{%- render "form-errors", form_errors: form_errors -%}</div>
                        </div>
                      {%- endunless -%}
                    </div>
                  </div>
                  {% when 'payment_icons' %}
                  <div class="payment-methods quick"><img
                      src="{{ 'group-300.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon"><img
                      src="{{ 'group-319.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon"><img
                      src="{{ 'group-318.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon"><img
                      src="{{ 'mastercard.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon"><img
                      src="{{ 'group-315.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon"><img
                      src="{{ 'group-314.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon"><img
                      src="{{ 'group-313.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon"><img
                      src="{{ 'group-310.svg' | asset_url }}"
                      loading="lazy"
                      alt=""
                      class="payment-icon"></div>
                {% endcase %}
              {% endfor %}
            </div>
            <div>
              <ul role="list" class="pdp-bullets">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'bullet_points' %}
                    <li>{{ block.settings.bullet-tagline }}</li>
                  {% endcase %}
                {% endfor %}
              </ul>
            </div>
            <div class="product-accordion-list">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'top_accordion' %}
                  <div
                    data-click="accordion"
                    data-w-id="00aef4e6-a58f-4aa4-48eb-8ea9c6601094"
                    class="product-accordion-item">
                    <div class="product-accordion">
                      <div class="accordion-title">{{ block.settings.top-title }}</div>
                      <div class="accordion-title">{{ 't2b' | t }}</div>
                    </div>
                    <div class="product-accordion-info-container">
                      <div class="product-accordion-content">
                        <div class="accordion-richtext w-richtext">{{ block.settings.top-info }}</div>
                      </div>
                    </div>
                  </div>
                {% endcase %}
              {% endfor %}
            </div>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'upsell' %}
                {% assign upsellproduct = block.settings.upsell-product %}
                <div class="pdp-upsell-box">
                  <div class="upsell-title">{{ upsellproduct.title }}</div>
                  <div class="upsell-box">
                    <div class="upsell-product">
                      <div class="upsell-pd-img"><img
                          src="{% if block.settings.upsell-image != blank %}{{block.settings.upsell-image | img_url: 'master' }} {% else %} {{ upsellproduct.featured_image | img_url: 'master'}} {% endif %}"
                          loading="lazy"
                          alt=""
                          class="upsell-pdp-img"></div>
                      <div>
                        <div class="upsell-pdp-title">
                          {% if block.settings.upsell-description != blank %}
                            {{ block.settings.upsell-description }}
                          {% else %}
                            {{ upsellproduct.title }}
                          {% endif %}
                        </div>
                        <div class="upsell-pdp-price">{{ product.price | money }}</div>
                      </div>
                    </div>
                    <a href="#" class="upsell-atc-pdp-btn w-button">{{ block.settings.upsell-button }} - {{ upsellproduct.price | money }}</a>
                  </div>
                </div>
              {% endcase %}
            {% endfor %}
            <div class="mini-pdp-info-section">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'mini_description' %}
                  <div class="pdp-richttext w-richtext">
                    <h1>{{ block.settings.mini-title }}</h1>
                    <p>{{ block.settings.mini-description }}</p>
                  </div>
                {% endcase %}
              {% endfor %}
            </div>
            <div class="product-accordion-list bottom-accordions">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'bottom_accordion' %}
                  <div
                    data-click="accordion"
                    data-w-id="00aef4e6-a58f-4aa4-48eb-8ea9c66010c3"
                    class="product-accordion-item">
                    <div class="product-accordion">
                      <div class="accordion-title">{{ block.settings.bottom-title }}</div>
                      <div class="accordion-title">{{ 't2b' | t }}</div>
                    </div>
                    <div class="product-accordion-info-container">
                      <div class="product-accordion-content">
                        <div class="accordion-richtext w-richtext">
                          {{ block.settings.bottom-info }}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clouds-wrapper"><img
        src="{{ 'top.svg' | asset_url }}"
        loading="eager"
        alt=""
        class="top-vector"><img
        src="{{ 'mid.svg' | asset_url }}"
        loading="eager"
        alt=""
        class="mid-vector"><img
        src="{{ 'bottom.svg' | asset_url }}"
        loading="eager"
        alt=""
        class="bottom-vector"></div>
  </div>

{% endform %}

<script>
  class VariantSelector extends HTMLElement {
    constructor() {
      super();
      this.addEventListener("change", this.onVariantChange);
    }
    onVariantChange() {
      this.getSelectedOptions();
      this.getSelectedVariant();
      if (this.currentVariant) {
        this.updateURL();
        this.updateFormID();
        this.updatePrice();
      }
    }
    getSelectedOptions() {
      this.options = Array.from(this.querySelectorAll('select'), (select) => select.value);
      console.log(this.options);
    }
    getVariantJSON() {
      this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
      return this.variantData;
    }
    getSelectedVariant() {
      this.currentVariant = this.getVariantJSON().find(variant => {
        const findings = !variant.options.map((option, index) => {
          return this.options[index] === option;
        }).includes(false);
        if (findings) 
          return variant;
        


      });
      console.log(this.currentVariant);
    }
    updateURL() {
      if (!this.currentVariant) 
        return;
      


      window.history.replaceState({}, '', `${
        this.dataset.url
      }?variant=${
        this.currentVariant.id
      }`);
    }
    updateFormID() {
      const form_input = document.querySelector("#product-form").querySelector('input[name="id"]');
      form_input.value = this.currentVariant.id;
    }
    updatePrice() {
      fetch(`${
        this.dataset.url
      }?variant=${
        this.currentVariant.id
      }&section_id=${
        this.dataset.section
      }`).then((response) => response.text()).then((responseText) => {
        const id = `price-${
          this.dataset.section
        }`;
        const html = new DOMParser().parseFromString(responseText, 'text/html');
        const oldPrice = document.getElementById(id);
        const newPrice = html.getElementById(id);
        if (oldPrice && newPrice) 
          oldPrice.innerHTML = newPrice.innerHTML;
        


      });
    }
  }
  customElements.define("variant-selector", VariantSelector);
</script>