{% schema %}
  {
    "name": "Product",
    "settings": [
      {
        "type": "text",
        "id": "sticky-atc_title",
        "label": "Sticky ATC Title"
      }, {
        "type": "text",
        "id": "sticky-atc_shipping",
        "label": "Sticky ATC Shipping"
      }, {
        "type": "text",
        "id": "sticky-atc_label",
        "label": "Sticky ATC Button Label"
      }
    ],
    "blocks": [
      {
        "type": "title",
        "name": "Title",
        "limit": 1
      },
      {
        "type": "review",
        "name": "Review",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "amount-review",
            "label": "Amount of Reviews"
          }
        ]
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1
      }, {
        "type": "shipping",
        "name": "Shipping",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "shipping-tagline",
            "label": "Shipping Tagline"
          }
        ]
      }, {
        "type": "checkout_buttons",
        "name": "Checkout Buttons",
        "limit": 1,
        "settings": [
          {
            "type": "text",
            "id": "atc-text",
            "label": "ATC Text"
          }
        ]
      }, {
        "type": "payment_icons",
        "name": "Payment Icons",
        "limit": 1,
        "settings": [
          {
            "id": "payments",
            "label": "Payment Icons",
            "type": "textarea",
            "default": "klarna,visa,master,american_express,maestro,shopify_pay,apple_pay,google_pay"
          }
        ]
      }, {
        "type": "bullet_points",
        "name": "Bullet Points",
        "settings": [
          {
            "type": "text",
            "id": "bullet-tagline",
            "label": "Bullet Tagline"
          }, {
            "type": "url",
            "id": "bullet-svg",
            "label": "Bullet SVG"
          }
        ]
      }, {
        "type": "top_accordion",
        "name": "Top Accordion",
        "settings": [
          {
            "type": "text",
            "id": "top-title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "top-info",
            "label": "Info"
          }
        ]
      }, {
        "type": "upsell-block",
        "name": "Upsell",
        "settings": [
          {
            "type": "product",
            "id": "upsell-product",
            "label": "Upsell Product"
          }, {
            "type": "image_picker",
            "id": "upsell-image",
            "label": "Upsell Image"
          }, {
            "type": "text",
            "id": "upsell-description",
            "label": "Upsell Description"
          }, {
            "type": "text",
            "id": "upsell-button",
            "label": "Upsell Button Label"
          }
        ]
      }, {
        "type": "mini_description",
        "name": "Mini Description",
        "settings": [
          {
            "type": "text",
            "id": "mini-title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "mini-description",
            "label": "Description"
          }
        ]
      }, {
        "type": "bottom_accordion",
        "name": "Bottom Accordion",
        "settings": [
          {
            "type": "text",
            "id": "bottom-title",
            "label": "Title"
          }, {
            "type": "richtext",
            "id": "bottom-info",
            "label": "Info"
          }, {
            "type": "html",
            "id": "bottom-info_html",
            "label": "Info HTML"
          }
        ]
      }, {
        "type": "media",
        "name": "Media",
        "limit": 1
      }
    ]
  }
{% endschema %}

<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% assign selected_variant = product.selected_or_first_available_variant %}

{% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
  <input
    type="hidden"
    name="id"
    value="{{ selected_variant.id }}">
  {% capture discount %}
    Save {{ product.compare_at_price | minus: product.price | round | money }}
  {% endcapture %}


  <div data-w-id="00aef4e6-a58f-4aa4-48eb-8ea9c660102c" class="product-section">
    <div class="page-padding">
      <div class="container_v2">
        <div class="product-inner-container">
          {% for block in section.blocks %}
            {% case block.type %}
              {% when 'media' %}
              <div class="product-section-left">
                <div class="product-desktop-imgs">


                  {% assign product = product %}
                  {% assign images = product.images %}
                  {% assign first_image = images[0] %}
                  {% assign second_image = images[1] %}
                  {% assign third_image = images[2] %}
                  {% assign fourth_image = images[3] %}
                  {% assign fifth_image = images[4] %}
                  {% assign sixth_image = images[5] %}
                  {% assign seventh_image = images[6] %}
                  {% assign eight_image = images[7] %}
                  {% assign nineth_image = images[8] %}
                  {% assign tenth_image = images[9] %}
                  {% assign eleveenth_image = images[10] %}
                  {% assign tvelweth_image = images[11] %}
                  {% assign thirtheen_image = images[11] %}



                  {% assign has_videos = false %}
                  {% for media in product.media %}
                    {% if media.media_type == 'video' %}
                      {% assign has_videos = true %}
                    {% endif %}
                  {% endfor %}



                  {% if has_videos %}
                    <div class="product-image">
                      <div class="video-display">
                        {% for media in product.media %}
                          {% if media.media_type == 'video' %}
                            {{ media | media_tag: autoplay: true, loop: true, playsinline: true, controls: true, preload: "none" }}
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                    {% if product.metafields.custom.product_information_box_1_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_1_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_1_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-images-row">
                      <div class="product-row-img">
                        <img
                          src="{{ first_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 47vw"
                          srcset="{{ first_image.src | img_url: 'master' }} 500w, {{ first_image.src | img_url: 'master' }} 800w, {{ first_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img">
                      </div>
                      <div class="product-row-img">
                        <img
                          src="{{ second_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 23vw"
                          srcset="{{ second_image.src | img_url: 'master' }} 500w, {{ second_image.src | img_url: 'master' }} 800w, {{ second_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img">
                      </div>
                    </div>
                    {% if product.metafields.custom.product_information_box_2_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_2_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_2_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-image">
                      <img
                        src="{{ third_image.src | img_url: 'master' }}"
                        loading="lazy"
                        sizes="(max-width: 991px) 100vw, 23vw"
                        srcset="{{ third_image.src | img_url: 'master' }} 500w, {{ third_image.src | img_url: 'master' }} 800w, {{ third_image.src | img_url: 'master' }} 917w"
                        alt=""
                        class="product-img">
                    </div>

                    {% if product.metafields.custom.product_information_box_3_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_3_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_3_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-images-row">
                      <div class="product-row-img">
                        <img
                          src="{{ fourth_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 47vw"
                          srcset="{{ fourth_image.src | img_url: 'master' }} 500w, {{ fourth_image.src | img_url: 'master' }} 800w, {{ fourth_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img">
                      </div>
                      {% if fifth_image.src != blank %}
                        <div class="product-row-img">
                          <img
                            src="{{ fifth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ fifth_image.src | img_url: 'master' }} 500w, {{ fifth_image.src | img_url: 'master' }} 800w, {{ fifth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img">
                        </div>
                      {% endif %}
                    </div>
                    {% if product.metafields.custom.product_information_box_4_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_4_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_4_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if sixth_image.src != blank %}
                      <div class="product-image">
                        <img
                          src="{{ sixth_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 23vw"
                          srcset="{{ sixth_image.src | img_url: 'master' }} 500w, {{ sixth_image.src | img_url: 'master' }} 800w, {{ sixth_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img">
                      </div>
                    {% endif %}
                    {% if product.metafields.custom.product_information_box_5_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_5_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_5_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-images-row">
                      {% if seventh_image.src != blank %}
                        <div class="product-row-img">
                          <img
                            src="{{ seventh_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 47vw"
                            srcset="{{ seventh_image.src | img_url: 'master' }} 500w, {{ seventh_image.src | img_url: 'master' }} 800w, {{ seventh_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img">
                        </div>
                      {% endif %}
                      {% if eight_image.src != blank %}
                        <div class="product-row-img">
                          <img
                            src="{{ eigth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ eigth_image.src | img_url: 'master' }} 500w, {{ eigth_image.src | img_url: 'master' }} 800w, {{ eigth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img">
                        </div>
                      {% endif %}
                    </div>
                    {% if product.metafields.custom.product_information_box_6_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_6_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_6_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if nineth_image.src != blank %}
                      <div class="product-image">
                        <img
                          src="{{ nine_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 23vw"
                          srcset="{{ nine_image.src | img_url: 'master' }} 500w, {{ nine_image.src | img_url: 'master' }} 800w, {{ nine_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img">
                      </div>
                    {% endif %}

                    {% if product.metafields.custom.product_information_box_7_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_7_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_7_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-images-row">
                      {% if tenth_image.src != blank %}
                        <div class="product-row-img">
                          <img
                            src="{{ tenth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 47vw"
                            srcset="{{ tenth_image.src | img_url: 'master' }} 500w, {{ tenth_image.src | img_url: 'master' }} 800w, {{ tenth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img">
                        </div>
                      {% endif %}
                      {% if eleveenth_image.src != blank %}
                        <div class="product-row-img">
                          <img
                            src="{{ eleveenth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ eleveenth_image.src | img_url: 'master' }} 500w, {{ eleveenth_image.src | img_url: 'master' }} 800w, {{ eleveenth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img">
                        </div>
                      {% endif %}
                    </div>
                    {% if product.metafields.custom.product_information_box_8_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_8_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_8_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if tvelweth_image.src != blank %}
                      <div class="product-image">
                        <img
                          src="{{ tvelweth_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 23vw"
                          srcset="{{ tvelweth_image.src | img_url: 'master' }} 500w, {{ tvelweth_image.src | img_url: 'master' }} 800w, {{ tvelweth_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img">
                      </div>
                    {% endif %}



                  {% else %}

                    {% if first_image.src != blank %}
                      <div class="product-image">
                        <img
                          src="{{ first_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 47vw"
                          srcset="{{ first_image.src | img_url: 'master' }} 500w, {{ first_image.src | img_url: 'master' }} 800w, {{ first_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img"></div>
                    {% endif %}
                    {% if product.metafields.custom.product_information_box_1_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_1_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_1_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-images-row">
                      {% if second_image.src != blank %}
                        <div class="product-row-img"><img
                            src="{{ second_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ second_image.src | img_url: 'master' }} 500w, {{ second_image.src | img_url: 'master' }} 800w, {{ second_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img"></div>
                      {% endif %}
                      {% if third_image.src != blank %}
                        <div class="product-row-img"><img
                            src="{{ third_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ third_image.src | img_url: 'master' }} 500w, {{ third_image.src | img_url: 'master' }} 800w, {{ third_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img"></div>
                      {% endif %}
                    </div>
                    {% if product.metafields.custom.product_information_box_2_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_2_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_2_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if fourth_image.src != blank %}
                      <div class="product-image"><img
                          src="{{ fourth_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 47vw"
                          srcset="{{ fourth_image.src | img_url: 'master' }} 500w, {{ fourth_image.src | img_url: 'master' }} 800w, {{ fourth_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img"></div>
                    {% endif %}
                    {% if product.metafields.custom.product_information_box_3_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_3_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_3_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-images-row">
                      {% if fifth_image.src != blank %}
                        <div class="product-row-img"><img
                            src="{{ fifth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ fifth_image.src | img_url: 'master' }} 500w, {{ fifth_image.src | img_url: 'master' }} 800w, {{ fifth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img"></div>
                      {% endif %}
                      {% if sixth_image.src != blank %}
                        <div class="product-row-img"><img
                            src="{{ sixth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ sixth_image.src | img_url: 'master' }} 500w, {{ sixth_image.src | img_url: 'master' }} 800w, {{ sixth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img"></div>
                      {% endif %}
                    </div>
                    {% if product.metafields.custom.product_information_box_4_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_4_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_4_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if seventh_image.src != blank %}
                      <div class="product-image"><img
                          src="{{ seventh_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 47vw"
                          srcset="{{ seventh_image.src | img_url: 'master' }} 500w, {{ seventh_image.src | img_url: 'master' }} 800w, {{ seventh_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img"></div>
                    {% endif %}
                    {% if product.metafields.custom.product_information_box_5_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_5_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_5_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-images-row">
                      {% if eight_image.src != blank %}
                        <div class="product-row-img"><img
                            src="{{ eigth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ eigth_image.src | img_url: 'master' }} 500w, {{ eigth_image.src | img_url: 'master' }} 800w, {{ eigth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img"></div>
                      {% endif %}
                      {% if nineth_image.src != blank %}
                        <div class="product-row-img"><img
                            src="{{ nineth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ nineth_image.src | img_url: 'master' }} 500w, {{ nineth_image.src | img_url: 'master' }} 800w, {{ nineth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img"></div>
                      {% endif %}
                    </div>
                    {% if product.metafields.custom.product_information_box_6_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_6_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_6_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if tenth_image.src != blank %}
                      <div class="product-image"><img
                          src="{{ tenth_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 47vw"
                          srcset="{{ tenth_image.src | img_url: 'master' }} 500w, {{ tenth_image.src | img_url: 'master' }} 800w, {{ tenth_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img"></div>
                    {% endif %}
                    {% if product.metafields.custom.product_information_box_7_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_7_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_7_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    <div class="product-images-row">
                      {% if eleveenth_image.src != blank %}
                        <div class="product-row-img"><img
                            src="{{ eleveenth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ eleveenth_image.src | img_url: 'master' }} 500w, {{ eleveenth_image.src | img_url: 'master' }} 800w, {{ eleveenth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img"></div>
                      {% endif %}
                      {% if tvelweth_image.src != blank %}
                        <div class="product-row-img"><img
                            src="{{ tvelweth_image.src | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 991px) 100vw, 23vw"
                            srcset="{{ tvelweth_image.src | img_url: 'master' }} 500w, {{ tvelweth_image.src | img_url: 'master' }} 800w, {{ tvelweth_image.src | img_url: 'master' }} 917w"
                            alt=""
                            class="product-img"></div>
                      {% endif %}
                    </div>
                    {% if product.metafields.custom.product_information_box_8_visible != blank %}
                      <div class="product-informative-box">
                        <div class="informative-contents">
                          <div class="informative-product-title">{{ product.metafields.custom.product_information_box_8_title }}</div>
                          <p>{{ product.metafields.custom.product_information_box_8_description }}</p>
                        </div>
                      </div>
                    {% endif %}
                    {% if thirtheen_image.src != blank %}
                      <div class="product-image"><img
                          src="{{ thirtheen_image.src | img_url: 'master' }}"
                          loading="lazy"
                          sizes="(max-width: 991px) 100vw, 47vw"
                          srcset="{{ thirtheen_image.src | img_url: 'master' }} 500w, {{ thirtheen_image.src | img_url: 'master' }} 800w, {{ thirtheen_image.src | img_url: 'master' }} 917w"
                          alt=""
                          class="product-img"></div>
                    {% endif %}

                  {% endif %}

                </div>
                <div class="product-slider pdp-slider">
                  <div id="Product-Images-Slider" class="swiper swiper-container">
                    <div id="swiper-wrapper" class="swiper-wrapper product-wrapper">
                      {% for media in product.media %}
                        {% if media.media_type == 'image' %}
                        <div class="swiper-slide product-slide"><img
                            src="{{ media | img_url: 'master' }}"
                            loading="lazy"
                            sizes="(max-width: 479px) 30vw, (max-width: 991px) 31vw, 100vw"
                            srcset="{{ media | img_url: 'master' }} 500w, {{ media | img_url: 'master' }} 800w, {{ media | img_url: 'master' }} 1080w, {{ media | img_url: 'master' }} 1222w"
                            alt=""
                            class="product-img-slide"></div>{%  elsif media.media_type == 'video' %}
                          <div class="swiper-slide product-slide video-slide">
                            {{ media | media_tag: autoplay: true, loop: true, playsinline: true, controls: true, preload: "none" }}
                          </div>
                          {% endif %}
                      {% endfor %}
                    </div>
                    <div class="product-swiper-nav">
                      <div id="product-left-arrow" class="product-swiper-arrow"><img
                          src="{{ 'ic20-arrow-right-1.svg' | asset_url }}"
                          loading="lazy"
                          alt=""
                          class="slider-arrow-icon"></div>
                      <div class="swiper-pagination-pdp swiper-pagination-bullets swiper-pagination-horizontal">
                        <div class="swiper-pagaintion-bullet"></div>
                      </div>
                      <div id="product-right-arrow" class="product-swiper-arrow"><img
                          src="{{ 'ic20-arrow-right.svg' | asset_url }}"
                          loading="lazy"
                          alt=""
                          class="slider-arrow-icon"></div>
                    </div>
                  </div>
                </div>
              </div>
            {% endcase %}
          {% endfor %}


          <div class="product-section-right">
            <div class="product-sec-info">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'title' %}
                  <h1 class="product-h1">{{ product.title }}</h1>
                  {% when 'review' %}
                  <div class="product-reviews"><img
                      src="{{ 'stars-pdp.svg' | asset_url }}"
                      loading="lazy"
                      height=""
                      alt=""
                      class="product-review-stars">
                    <div class="text-block-5">{{ block.settings.amount-review }}</div>
                  </div>
                  {% when 'description' %}
                  <div>{{ product.description }}</div>
                {% endcase %}
              {% endfor %}
            </div>
            <div>
              <ul class="pdp-bullets" style="text-decoration: none; list-style: none; padding-left: 0px;">
                {% for block in section.blocks %}
                  {% case block.type %}
                    {% when 'bullet_points' %}
                    <li style="text-decoration: none;">
                      <div class="bullet-point_wrapper">
                        <div class="bullet-svg"><img src="{{block.settings.bullet-svg}}" alt=""></div>
                        <div class="bullet-tagline">{{ block.settings.bullet-tagline }}</div>
                      </div>
                    </li>
                  {% endcase %}
                {% endfor %}
              </ul>
            </div>
            <div class="atc-area">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'price' %}
                  <div class="quick-atc-price-wrapper">
                    <div class="price-wrapper" id="price-{{ section.id }}">
                      {% if product.compare_at_price %}
                        <div class="before-price">{{ selected_variant.compare_at_price | money }}</div>
                      {% endif %}
                      <div class="price-h1 dekstop">{{ selected_variant.price | money }}</div>
                    </div>
                    {% if product.compare_at_price %}
                      <div class="save-tag">{{ discount }}</div>
                    {% endif %}
                  </div>
                  {% when 'shipping' %}
                  <div class="atc-shipping">
                    <lottie-player
                      style="max-width: 21px;"
                      class="lottie-animation-2"
                      src="{{ 'lf20_lccjnf8m.json' | asset_url }}"
                      speed="1"
                      loop
                      autoplay></lottie-player>
                    <div>{{ block.settings.shipping-tagline }}</div>
                  </div>
                  {% when 'checkout_buttons' %}
                  <div class="atc-zone-quick">
                    <input
                      type="hidden"
                      name="id"
                      value="{{ product.variants.first.id }}" />
                    <button
                      type="submit"
                      value="Add to cart"
                      class="product-atc_button animation-start">{{ block.settings.atc-text }} - {{ product.price | money }}</button>
                    <div class="qty-input">
                      <button
                        data-action="minus"
                        type="button"
                        class="qty-count qty-count--minus">
                        <div>-</div>
                      </button><input
                        type="number"
                        id="quantity"
                        name="quantity"
                        min="0"
                        max="10"
                        value="1"
                        class="product-qty">
                      <button
                        class="qty-count qty-count--add"
                        data-action="add"
                        type="button">
                        <div>+</div>
                      </button>
                    </div>
                  </div>
                  {% when 'payment_icons' %}
                  <div class="payment-methods quick">
                    {% assign enabled_payment_types = block.settings.payments | remove: ' ' | split: ',' %}

                    {%- for type in enabled_payment_types -%}
                      {{ type | payment_type_svg_tag: class: 'payment-icon' }}
                    {%- endfor -%}
                  </div>
                {% endcase %}
              {% endfor %}
            </div>
            <div class="product-accordion-list top-accordions">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'top_accordion' %}
                  <div
                    data-click="accordion"
                    data-w-id="00aef4e6-a58f-4aa4-48eb-8ea9c6601094"
                    class="product-accordion-item">
                    <div class="product-accordion">
                      <div class="accordion-title">{{ block.settings.top-title }}</div>
                      <div class="accordion-title">{{ 't2b' | t }}</div>
                    </div>
                    <div class="product-accordion-info-container">
                      <div class="product-accordion-content">
                        <div class="accordion-richtext w-richtext">{{ block.settings.top-info }}</div>
                      </div>
                    </div>
                  </div>
                {% endcase %}
              {% endfor %}
            </div>
            {% for block in section.blocks %}
              {% case block.type %}
                {% when 'upsell-block' %}
                {% assign upsellproduct = block.settings.upsell-product %}
                <div class="pdp-upsell-box">
                  <div class="upsell-heading_desktop">{{ block.settings.upsell-description }}</div>
                  <div class="upsell-box">
                    <div class="upsell-heading_mobile">{{ block.settings.upsell-description }}</div>
                    <div class="upsell-product">
                      <div class="upsell-pd-img"><img
                          src="{% if block.settings.upsell-image != blank %}{{block.settings.upsell-image | img_url: 'master' }} {% else %} {{ upsellproduct.featured_image | img_url: 'master'}} {% endif %}"
                          loading="lazy"
                          alt=""
                          class="upsell-pdp-img"></div>
                      <div>
                        <div class="upsell-pdp-title">
                          {{ upsellproduct.title }}
                        </div>
                        <div class="upsell-main-price_wrapper" style="display: flex;align-items: center;gap: 8px;">
                          <div class="upsell-pdp-price" style="font-weight: 400;text-decoration: line-through;">{{ upsellproduct.compare_at_price | money }}</div>
                          <div class="upsell-pdp-price" style="font-weight: 700;">{{ upsellproduct.price | money }}</div>
                        </div>
                      </div>
                    </div>
                    <a href="#" class="upsell-atc-pdp-btn w-button">{{ block.settings.upsell-button }} - {{ upsellproduct.price | money }}</a>
                  </div>
                </div>
              {% endcase %}
            {% endfor %}
            <div class="mini-pdp-info-section">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'mini_description' %}
                  <div class="pdp-richttext w-richtext">
                    <h1>{{ block.settings.mini-title }}</h1>
                    <p>{{ block.settings.mini-description }}</p>
                  </div>
                {% endcase %}
              {% endfor %}
            </div>
            <div class="product-accordion-list bottom-accordions">
              {% for block in section.blocks %}
                {% case block.type %}
                  {% when 'bottom_accordion' %}
                  <div
                    data-click="accordion"
                    data-w-id="00aef4e6-a58f-4aa4-48eb-8ea9c66010c3"
                    class="product-accordion-item">
                    <div class="product-accordion">
                      <div class="accordion-title">{{ block.settings.bottom-title }}</div>
                      <div class="accordion-title">{{ 't2b' | t }}</div>
                    </div>
                    <div class="product-accordion-info-container">
                      <div class="product-accordion-content">
                        <div class="accordion-richtext w-richtext">
                          {% if block.settings.bottom-info != blank %}
                            {{ block.settings.bottom-info }}
                          {% else %}
                            {{ block.settings.bottom-info_html }}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endcase %}
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clouds-wrapper"><img
        src="{{ 'top.svg' | asset_url }}"
        loading="eager"
        alt=""
        class="top-vector"><img
        src="{{ 'mid.svg' | asset_url }}"
        loading="eager"
        alt=""
        class="mid-vector"><img
        src="{{ 'bottom.svg' | asset_url }}"
        loading="eager"
        alt=""
        class="bottom-vector"></div>
  </div>


  <div class="sticky-atc_wrapper">
    <div class="sticky-inner_wrapper">
      <div class="desktop-info">
        <div class="sticky-title">
          {% if section.settings.sticky-atc_title != blank %}
            {{ section.settings.sticky-atc_title }}
          {% else %}
            {{ product.title }}{% endif %}
          <div class="sticky-price_wrapper-tablet">
            {% if product.compare_at_price %}
              <div class="sticky-compare_price">{{ product.compare_at_price | money }}</div>
            {% endif %}
            <div class="sticky-price">{{ product.price | money }}</div>
          </div>
        </div>
        <div class="sticky-price_wrapper">
          {% if product.compare_at_price %}
            <div class="sticky-compare_price">{{ product.compare_at_price | money }}</div>
          {% endif %}
          <div class="sticky-price">{{ product.price | money }}</div>
        </div>
      </div>
      <div class="mobile-info">
        <div class="sticky-shipping">
          <lottie-player
            style="max-width: 21px;"
            class="lottie-animation-2"
            src="{{ 'lf20_lccjnf8m.json' | asset_url }}"
            speed="1"
            loop
            autoplay></lottie-player>
          <div class="sticky-shipping_text">{{ section.settings.sticky-atc_shipping }}</div>
        </div>
      </div>
      <button
        type="submit"
        value="Add to cart"
        class="sticky-atc">{{ section.settings.sticky-atc_label }} - {{ product.price | money }}</button>
    </div>
    <button
      type="submit"
      value="Add to cart"
      class="sticky-atc_mobile">{{ section.settings.sticky-atc_label }} - {{ product.price | money }}</button>
  </div>
{% endform %}


<script>
  class VariantSelector extends HTMLElement {
    constructor() {
      super();
      this.addEventListener("change", this.onVariantChange);
    }
    onVariantChange() {
      this.getSelectedOptions();
      this.getSelectedVariant();
      if (this.currentVariant) {
        this.updateURL();
        this.updateFormID();
        this.updatePrice();
      }
    }
    getSelectedOptions() {
      this.options = Array.from(this.querySelectorAll('select'), (select) => select.value);
      console.log(this.options);
    }
    getVariantJSON() {
      this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
      return this.variantData;
    }
    getSelectedVariant() {
      this.currentVariant = this.getVariantJSON().find(variant => {
        const findings = !variant.options.map((option, index) => {
          return this.options[index] === option;
        }).includes(false);
        if (findings) 
          return variant;
        



      });
      console.log(this.currentVariant);
    }
    updateURL() {
      if (!this.currentVariant) 
        return;
      



      window.history.replaceState({}, '', `${
        this.dataset.url
      }?variant=${
        this.currentVariant.id
      }`);
    }
    updateFormID() {
      const form_input = document.querySelector("#product-form").querySelector('input[name="id"]');
      form_input.value = this.currentVariant.id;
    }
    updatePrice() {
      fetch(`${
        this.dataset.url
      }?variant=${
        this.currentVariant.id
      }&section_id=${
        this.dataset.section
      }`).then((response) => response.text()).then((responseText) => {
        const id = `price-${
          this.dataset.section
        }`;
        const html = new DOMParser().parseFromString(responseText, 'text/html');
        const oldPrice = document.getElementById(id);
        const newPrice = html.getElementById(id);
        if (oldPrice && newPrice) 
          oldPrice.innerHTML = newPrice.innerHTML;
        



      });
    }
  }
  customElements.define("variant-selector", VariantSelector);
</script>

<script>
  // Get the element to track
  const atcZoneQuick = document.querySelector('.atc-zone-quick');
  const stickyAtcWrapper = document.querySelector('.sticky-atc_wrapper');

// Create a new IntersectionObserver object
  const observer = new IntersectionObserver((entries) => {

// Loop through the entries
    entries.forEach(entry => {

// Check if the entry is intersecting or not
      if (!entry.isIntersecting) { // Add the class to the sticky-atc_wrapper div
        stickyAtcWrapper.classList.add('sticky-visible');
      } else { // Remove the class from the sticky-atc_wrapper div
        stickyAtcWrapper.classList.remove('sticky-visible');
      }
    });
  });

// Start observing the atcZoneQuick element
  observer.observe(atcZoneQuick);
</script>

<script>
  const description = document.querySelector('.product-section-right');

  window.addEventListener('scroll', () => {
    const bottomOffset = description.offsetTop + description.offsetHeight;
    const viewportHeight = window.innerHeight;
    const scrollPosition = window.scrollY + viewportHeight;
    const descriptionHeight = description.offsetHeight;

    if (scrollPosition > bottomOffset) {
      description.classList.add('sticky-description');
      description.style.top = `calc(100vh - ${descriptionHeight}px)`;
    } else {
      description.classList.remove('sticky-description');
      description.style.top = null;
    }
  });
</script>

<script>
  const trustbox = document.getElementById('trustbox');
  window.Trustpilot.loadFromElement(trustbox);
</script>