<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

{% assign product = section.settings.main-product %}
{% capture discount %}
  {{ product.compare_at_price | minus: product.price | money }}
{% endcapture %}
<div bind="ce2938a5-0e23-d31f-75f6-3d9c7dc230ee" class="quick-atc-section">
  <div class="page-padding">
    <div class="container_v2">
      <div class="quick-atc-inner-container">
        <div class="quick-atc-half">
          <div class="product-slider">
            <div id="Product-Images-Slider" class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
              <div id="swiper-wrapper" class="swiper-wrapper">
                {% for media in product.media %}
                   {% if media.media_type == 'image' %}
                  <div class="swiper-slide"><img
                      src="{{ media | img_url:'master' }}"
                      loading="lazy"
                      sizes="(max-width: 479px) 30vw, (max-width: 991px) 31vw, 15vw"
                      srcset="{{media | img_url:'master'}} 500w, {{media | img_url:'master'}} 800w, {{media | img_url:'master'}} 1080w, {{media | img_url:'master'}} 1222w"
                      alt=""
                      class="product-img-slide"></div>{% elsif media.media_type == 'video' %}
                       <div class="swiper-slide product-slide video-slide">
                            {{ media | media_tag: autoplay: true, loop: true, playsinline: true, controls: false, preload: "none" }}
                          </div>
                    {% endif %}
                {% endfor %}
              </div>
              <div class="product-swiper-nav">
                <div id="product-left-arrow" class="product-swiper-arrow"><img
                    src="{{'ic20-arrow-right-1.svg' | asset_url}}"
                    loading="lazy"
                    alt=""
                    class="slider-arrow-icon"></div>
                <div class="swiper-pagination-pdp swiper-pagination-bullets swiper-pagination-horizontal">
                  <div class="swiper-pagaintion-bullet"></div>
                </div>
                <div id="product-right-arrow" class="product-swiper-arrow"><img
                    src="{{'ic20-arrow-right.svg' | asset_url}}"
                    loading="lazy"
                    alt=""
                    class="slider-arrow-icon"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="quick-atc-half">
          <div class="quick-atc-content">
            <a href="{{product.url}}" style="text-decoration: none;">
              <div class="atc-h1">{{ product.title }}</div>
            </a>
            <div class="reviews-flex"><img
                src="{{'stars.svg' | asset_url}}"
                loading="lazy"
                alt=""
                class="quick-atc-review-stars">
              <div class="text-block-4">{{ section.settings.review-number }}</div>
            </div>
            <div class="quick-atc-area">
              <div class="quick-description">
                {{ section.settings.product-description }}
              </div>
              <div class="quick-atc-price-wrapper">
                <div class="price-wrapper">
                  {% if product.compare_at_price %}
                    <div class="before-price">{{ product.compare_at_price | money }}</div>
                  {% endif %}
                  <div class="price-h1 quick-price">{{ product.price | money }}</div>
                </div>
                {% if product.compare_at_price %}
                  <div class="save-tag">Save {{ discount }}</div>
                {% endif %}
              </div>
              <div class="quick-atc-shipping" style="gap: 8px;">
                <lottie-player
                  style="max-width: 21px;"
                  class="lottie-animation-2"
                  src="{{ 'lf20_lccjnf8m.json' | asset_url }}"
                  speed="1"
                  loop
                  autoplay></lottie-player>
                <div>
                  {{ section.settings.shipping-text }}</div>
              </div>
              <form method="post" action="/cart/add">
                <div class="atc-zone-quick">
                  <input
                    type="hidden"
                    name="id"
                    value="{{ product.variants.first.id }}" />
                  <button
                    type="submit"
                    value="Add to cart"
                    class="quick-atc_button animation-start">Add To Cart - {{ product.price | money }}</button>
                  <div class="qty-input quick-atc_quantity">
                    <button
                      data-action="minus"
                      type="button"
                      class="qty-count qty-count--minus">
                      <div>-</div>
                    </button><input
                      type="number"
                      id="quantity"
                      name="quantity"
                      min="0"
                      max="10"
                      value="1"
                      class="product-qty">
                    <button
                      class="qty-count qty-count--add"
                      data-action="add"
                      type="button">
                      <div>+</div>
                    </button>
                  </div>
                </div>
              </form>
              {% assign upsellproduct = section.settings.product-upsell %}
              <div class="upsell-bar quick">
                <div class="atc-bar-first"><img
                    src="{% if section.settings.upsell-image != blank %}{{section.settings.upsell-image | img_url: 'master' }} {% else %} {{ upsellproduct.featured_image | img_url: 'master'}} {% endif %}"
                    loading="lazy"
                    alt=""
                    class="upsell-img">
                  <div class="upsell-title-wrapper">
                    <div class="upsell-title">{{ section.settings.upsell-description }}</div>
                    <div>{{ upsellproduct.price | money }}</div>
                  </div>
                </div>
                <form method="post" action="/cart/add">
                  <input
                    type="hidden"
                    name="id"
                    value="{{ upsellproduct.variants.first.id }}" />
                  <input
                    min="1"
                    type="hidden"
                    id="quantity"
                    name="quantity"
                    value="1" />
                  <button
                    type="submit"
                    value="Add to cart"
                    class="upsell-atc-btn animation-start"><img
                      src="{{'cart.svg' | asset_url}}"
                      loading="lazy"
                      alt=""
                      class="cart-icon"></button>
                </form>
              </div>
              <div class="payment-methods quick"><img
                  src="{{'group-300.svg' | asset_url}}"
                  loading="lazy"
                  alt=""
                  class="payment-icon"><img
                  src="{{'group-319.svg' | asset_url}}"
                  loading="lazy"
                  alt=""
                  class="payment-icon"><img
                  src="{{'group-318.svg' | asset_url}}"
                  loading="lazy"
                  alt=""
                  class="payment-icon"><img
                  src="{{'mastercard.svg' | asset_url}}"
                  loading="lazy"
                  alt=""
                  class="payment-icon"><img
                  src="{{'group-314.svg' | asset_url}}"
                  loading="lazy"
                  alt=""
                  class="payment-icon"><img
                  src="{{'group-313.svg' | asset_url}}"
                  loading="lazy"
                  alt=""
                  class="payment-icon"><img
                  src="{{'group-310.svg' | asset_url}}"
                  loading="lazy"
                  alt=""
                  class="payment-icon"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="waves reverse"><img
      src="{{'reversed-wave.svg' | asset_url}}"
      alt=""
      class="desktop-img"><img
      src="{{'tweede-mob-wave.svg' | asset_url}}"
      alt=""
      class="mobile-img"></div>
</div>



{% schema %}
  {
    "presets": [
      {
        "name": "Quick ATC"
      }
    ],
    "name": "Quick ATC",
    "tag": "div",
    "class": "quick-atc",
    "settings": [
      {
        "type": "product",
        "id": "main-product",
        "label": "Main Product"
      },
      {
        "type": "product",
        "id": "product-upsell",
        "label": "Product Upsell"
      },
      {
        "type": "image_picker",
        "id": "upsell-image",
        "label": "Upsell Image"
      },
      {
        "type": "text",
        "id": "review-number",
        "label": "Number of Reviews"
      }, {
        "type": "richtext",
        "id": "shipping-text",
        "label": "Shipping text"
      }, {
        "type": "text",
        "id": "upsell-description",
        "label": "Upsell Description"
      }, {
        "type": "textarea",
        "id": "product-description",
        "label": "Product Description"
      }
    ]
  }
{% endschema %}